{% assign pagePathParts = page.path | split: "/" %}
{% assign size = pagePathParts.size | minus: 1 %}

<nav aria-label="breadcrumb" class="mb-4">
  <ol class="breadcrumb pt-0 pr-0 pb-0 pl-0 bg-transparent">
    <li class="breadcrumb-item"><a href="{{ "/" | relative_url }}">Home</a></li>
    {% assign comparePathWithoutFilename = "" %}
    {% for i in (0..size) %}
      {% assign comparePathWithoutFilename = comparePathWithoutFilename | append: pagePathParts[i] | append: "/" %}
      {% assign p = comparePathWithoutFilename | append: "index.md" %}
      {% for page in site.pages %}
        {% if page.path == p %}
          {% assign compareSize = size | minus: 1 %}
          {% if i < compareSize %}
            <li class="breadcrumb-item"><a href="{{ page.path | relative_url | remove: "/index.md" }}">{{ page.title }}</a></li>
          {% else %}
            <li class="breadcrumb-item">{{ page.title }}</li>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ol>
</nav>
