{% assign pagePathParts = page.path | split: "/" %}
{% assign size = pagePathParts.size | minus: 3 %}

<nav aria-label="breadcrumb" class="mb-4">
  <ol class="breadcrumb pt-1 pb-1 pl-3 pr-3">
    <li class="breadcrumb-item"><a href="{{ "/" | relative_url }}">Home</a></li>
    {% assign comparePathWithoutFilename = "" %}
    {% for i in (0..size) %}
      {% assign comparePathWithoutFilename = comparePathWithoutFilename | append: pagePathParts[i] | append: "/" %}
      {% assign p = comparePathWithoutFilename | append: "index.md" %}
      {% for page in site.pages %}
        {% if page.path == p %}
          <li class="breadcrumb-item"><a href="{{ page.path | relative_url | remove: "/index.md" }}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ol>
</nav>
