<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#" itemscope itemtype="http://schema.org/WebPage">
  <meta charset="utf-8">
  <meta name="robots" content="index,follow,noodp,noydir">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description }}">
  <meta name="publisher" content="{{ page.author }}">
  <meta property="og:site_name" content="{{ page.title }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta itemprop="name" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta itemprop="description" content="{{ page.description }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ site.baseurl }}{{ page.url | remove: 'index.html' }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.baseurl }}{{ page.url | remove: 'index.html' }}">
  <link rel="alternate" hreflang="de" href="{{ site.baseurl }}{{ page.url | remove: 'index.html' }}">
  <link rel="canonical" href="{{ site.baseurl }}{{ page.url | remove: 'index.html' }}">
  <title>{{ page.title }}</title>
  <script src="{{ site.baseurl }}/assets/js/jquery.slim.min.js"></script>
  <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
</head>
