
{% assign originPagePath = page.path %}
{% assign originPagePathParts = page.path | split: "/" %}
{% assign originSize = originPagePathParts.size %}
{% assign pagePath = page.path | remove: "index.md" %}

<ul>
  {% assign sorted_pages = site.pages | sort:"path" %}
  {% for page in sorted_pages %}
    {% if page.path != originPagePath %}
      {% if page.path contains pagePath %}
        {% assign pagePathParts = page.path | split: "/" %}
        {% assign size = pagePathParts.size | minus: 1 %}
        {% if size <= originSize %}
          <li><a href="{{ page.path | relative_url | remove: "/index.md" }}">{{ page.title | xml_escape }}</a></li>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
