@import "bootstrap";
@import "rouge-github";

h2 {
  margin-bottom: 1.3rem;
  border-bottom: 1px solid #eaecef;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #333;
}

pre {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  padding: 1rem;
  background-color: #f6f8fa;
  border-radius: 2px;
  border: 1px solid #f6f8fa;
  overflow-x: auto;
}
