@import "bootstrap";
@import "rouge-github";

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.3rem;
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.5rem;
}

h3 {
  font-size: 1.3rem;
  margin-top: 1.5rem;
  padding-bottom: 0.3rem;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #333;
}

pre {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  padding: 1rem;
  background-color: #f6f8fa !important;
  border-radius: 2px;
  border: 1px solid #f6f8fa !important;
  overflow-x: auto;
}
